.jumbotron{
    /*background-color: rgb(255, 238, 0);*/
    color: whitesmoke;
    margin-top: 56px;
    background-image: url("/imagenes/lienzo2.png");
    background-size: cover;
    background-position: center;
}

.btn{
    color: white;
    
}

footer{
    padding: 10px 10px 0 10px;
    /*background-color: rgb(255, 238, 0);*/
    margin-bottom: 50px;
    margin-top: 15px;
    background-image: url("/imagenes/kame.png");
    background-size: cover;
    background-position: center;
}

.card-juego{
    flex: 0 230px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px; /* para redondear las puntas del botón */
    
}

.footer-icon{
    padding-right: 10px;
}

.btn-icon{
    padding-right: 10px;
    color: rgba(255, 238, 0, 0.836);
}

.cfooter{
    color: yellow;
}

.tab-content{
    padding-top: 10px;
}

.btn-price{
    margin-top: 10px;
}

.btn-link{
    color: blue;
}
