$yellow:#f7ff05;
$white:#f2f2eb;
$blue:#0d2cd9;
$red:#e81a3f;

@mixin margenes($top, $botton){
	margin-top: $top;
	margin-botton: $botton;
}
@mixin padding($arriba, $derecha, $abajo, $izquierda){
	padding-top: $arriba;
	padding-right: $derecha;
	padding-bottom: $abajo;
	padding-left: $izquierda;
}


.jumbotron{
    /*background-color: rgb(255, 238, 0);*/
    color: $white;
    @include margenes(56px,0);
    background-image: url("/imagenes/lienzo2.png");
    background-size: cover;
    background-position: center;
}

.btn{
    color: $white;
    @include margenes(7px,0);
   
}

footer{
    @include padding(10px,10px,0px,10px);
    /*background-color: rgb(255, 238, 0);*/
    @include margenes(15px,0);
    background-image: url("/imagenes/kame.png");
    background-size: cover;
    background-position: center;
}

.card-juego{
    flex: 0 230px;
    @include margenes(10px,0);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px; /* para redondear las puntas del botón */
    
}

.footer-icon{
    @include padding(0px,7px,0px,0px);
}

.btn-icon{
    @include padding(0px,10px,0px,0px);
    color: $yellow;
}

.cfooter{
    color: $yellow;
}

.tab-content{
    @include padding(10px,0px,0px,0px);
}

.btn-price{
    @include margenes(10px,0);
}

.btn-link{
    color: $blue;
}
