
@yellow:#f7ff05;
@white:#f2f2eb;
@blue:#0d2cd9;

.margenes(@top, @botton){
	margin-top: @top;
	margin-botton: @botton;
}
.padding(@arriba, @derecha, @abajo, @izquierda){
	padding-top: @arriba;
	padding-right: @derecha;
	padding-bottom: @abajo;
	padding-left: @izquierda;
}

.jumbotron {
  /*background-color: rgb(255, 238, 0);*/
  color: @white;
  .margenes(56px,0px);
  background-image: url("/imagenes/lienzo2.png");
  background-size: cover;
  background-position: center; 
}

.btn {
  color: @white;
  .margenes(7px, 0px);
}
footer {
  .padding(10px, 10px, 0px, 10px);
  /*background-color: rgb(255, 238, 0);*/
  .margenes(15px, 0px);
  background-image: url("/imagenes/kame.png");
  background-size: cover;
  background-position: center; 
}

.card-juego {
  flex: 0 230px;
  .margenes(10px, 0px);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
  /* para redondear las puntas del botón */ 
}

.footer-icon {
 .padding(0px, 7px, 0px, 10px);
 }
.btn-icon {
 .padding(0px, 10px, 0px, 10px);
  color: @yellow; 
}

.cfooter {
  color: @yellow; 
}

.tab-content {
 .padding(10px, 0px, 0px, 0px);
}
.btn-price {
  .margenes(10px, 0px);
}
.btn-link {
  color: @blue; 
}

