@charset "UTF-8";
.jumbotron {
  /*background-color: rgb(255, 238, 0);*/
  color: #f2f2eb;
  margin-top: 56px;
  margin-botton: 0;
  background-image: url("/imagenes/lienzo2.png");
  background-size: cover;
  background-position: center; }

.btn {
  color: #f2f2eb;
  margin-top: 7px;
  margin-botton: 0; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  /*background-color: rgb(255, 238, 0);*/
  margin-top: 15px;
  margin-botton: 0;
  background-image: url("/imagenes/kame.png");
  background-size: cover;
  background-position: center; }

.card-juego {
  flex: 0 230px;
  margin-top: 10px;
  margin-botton: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  /* para redondear las puntas del botón */ }

.footer-icon {
  padding-top: 0px;
  padding-right: 7px;
  padding-bottom: 0px;
  padding-left: 0px; }

.btn-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #f7ff05; }

.cfooter {
  color: #f7ff05; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.btn-price {
  margin-top: 10px;
  margin-botton: 0; }

.btn-link {
  color: #0d2cd9; }
